/* @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #8aa172;
  /* --secondary-color: #f7a9a8; */
  --tetiary-color: #ffa73c;
  --bg-color: #f9f6f0;
  --second-bg-color: #e7f6e7;
  --font-header: "Poppins", sans-serif;

  --font-texts: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.app-container {
  background: var(--bg-color);
}