.recipe-details-container {
  width: 100%;
  background-color: var(--bg-color);
}
.recipeintro-container h1 {
  color: var(--tetiary-color);
}
.recipeintro-container img {
  width: 40%;
}
.cooking-servings {
  width: 38%;
  font-family: var(--font-texts);
}
.diets {
  width: 35%;
  font-family: var(--font-text);
}

.recipe-ingredients h3 {
  font-family: var(--font-header);
  color: var(--tetiary-color);
}
.ingredient-list li,
.instruction-list li {
  font-family: var(--font-text);
  list-style-type: square;
  font-size: 16px;
}
.Instructions h3 {
  font-family: var(--font-header);
  color: var(--tetiary-color);
}
.cooking-icon {
  color: var(--tetiary-color);
}
.backarrow {
  font-size: 30px;
  margin-left: 25px;
  color: var(--tetiary-color);
}

/* resposniveness */
@media screen and (max-width: 576px) {
  .recipeintro-container img {
    width: 100%;
  }
  .cooking-servings,
  .diets {
    width: 80%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .recipeintro-container img {
    width: 90%;
  }
  .cooking-servings,
  .diets {
    width: 80%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .recipeintro-container img {
    width: 70%;
  }
  .cooking-servings,
  .diets {
    width: 80%;
    flex-wrap: wrap;
  }
}
