.Search-container {
  max-width: 100%;
  /* margin: auto; */
  /* position: relative; */
  /* box-shadow: 1px 1px 6px black; */
  /* padding: 50px; */
  background: var(--bg-color);
}

.search-input {
  padding: 10px;
  padding-left: 4%;
  width: 400px;
  border-radius: 25px;
  border: 2px solid var(--tetiary-color);
  font-size: 20px;
  /* box-shadow: 1px 1px 6px rgba(134, 134, 134, 0.774); */
  background-color: #fff;
}
.search-btn {
  width: 100px;
  padding: 13px;
  font-weight: 500;
  font-family: var(--font-texts);
  margin-left: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--tetiary-color);
}
.categories-search {
  color: rgba(25, 24, 24, 0.844);
}
.categories-search li {
  border: none;
  background-color: inherit;
}

.categories-search li {
  padding: 5px;
  border-radius: 5px;
}
.categories-search li a {
  text-decoration: none;
  color: inherit;
  /* color: rgba(25, 24, 24, 0.844); */
}
.category-form {
  margin-left: 20px;
}
categories-btn {
  margin-top: 15px;
}

/* Searchpage.css */
.dropdown-menu {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 100%; */
}

.dropdown-menu > li {
  flex: 1 1 200px;
  margin: 10px;
}

.dropdown-item {
  white-space: normal; /* Prevent text overflow */
  padding: 10px;
}
.search-filters {
  margin: auto;
}

/* searchresultstyling */
.recipesearch-results,
.cusine-results {
  width: 100%;
  padding: 5%;
}
.recipesearch-item {
  width: 25%;
  padding: 18px;
  box-shadow: 1px 1px 6px #00000035;
  border-radius: 8px;
}
.searchresult-titles,
.cusine-titles {
  font-family: var(--font-texts);
  /* width: 100%; */
}
.getRecipe-btn {
  border: 2px solid var(--tetiary-color);
  background-color: inherit;
  border-radius: 8px;
  /* width: 200px; */
  width: 100%;
  padding: 10px;
  font-weight: 500;
  color: var(--tetiary-color);
  font-size: 18px;
  /* margin: 0px 15px; */
}
.getRecipe-btn:hover {
  background-color: var(--tetiary-color);
  color: #fff;
  transition: all 0.3s ease-out;
}

.recipetitle h3 {
  color: var(--tetiary-color);
  font-family: var(--font-header);
}
.searchresult-titles h5 {
  font-size: 16px;
}
.searchresult-titles {
  width: 100%;
}
/* .getRecipe {
  margin: auto;
  text-align: center;
} */

/* responsiveness */
/* @media screen and (max-width: 490px) {
  .getRecipe-btn {
    width: 25%;
  }
} */
@media screen and (max-width: 576px) {
  .search-form {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .search-input {
    width: 100%;
  }
  .category-form {
    margin-left: 10px;
  }
  .dropdown-menu.show {
    width: 95%;
  }
  .recipesearch-results {
    flex-wrap: wrap;
    width: 100%;
  }
  .recipesearch-item {
    /* max-width: 100%; */
    width: 90%;
  }
  .getRecipe-btn {
    /* margin: 0px 100px; */

    margin: auto;
    width: 100%;
  }
  .searchresult-titles h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .search-form {
    /* flex-direction: column;
    justify-content: center; */
    gap: 10px;
  }
  .recipesearch-results {
    flex-wrap: wrap;
    width: 100%;
  }
  .recipesearch-item {
    /* max-width: 100%; */
    width: 70%;
  }
  /* .getRecipe-btn {
    margin: 0px 150px;
  } */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .search-form {
    /* flex-direction: column;
    justify-content: center; */
    gap: 10px;
  }
  .recipesearch-results {
    flex-wrap: wrap;
    width: 100%;
  }
  .recipesearch-item {
    /* max-width: 100%; */
    width: 45%;
  }
  /* .getRecipe-btn {
    margin: 0px 150px;
  } */
}
